body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15px 0; 
    background-color: #ffffff;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}
.logo-content-img{
    border: solid 0px #42515f;
    max-width: 7%;
    height: auto;
    padding: 10px;
}
.contact-text{
    font: normal normal bold 22px/25px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: #008cff;
    text-transform: capitalize;
}
.address-book{
    color: #42515f;
}
*{ box-sizing: border-box;}
.form-content{
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.form{
    width: 65%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 1px solid #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}
.form-head{
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    background: #008CFF 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}
.column-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}
.label{
    min-width: 140px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.text{
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}
.input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}
